#who {
    text-align: center;
}

.left-bio, .right-bio {
    min-height: 460px;
    padding-right: 2%;
    background-color: #2890dc;
    border-radius: 5px;
}

.left-bio > p {
    padding: 8%;
    padding-left: 25%;
    padding-right: 35%;
    margin-top: 2%;
} 

.right-bio > p {
    padding: 8%;
    padding-left: 35%;
    padding-right: 25%;
    margin-top: 2%;
}

.pfp {
    padding-top: 50px;
    border-radius: 25px;
    float: left;
}

.right-pfp {
    padding-top: 50px;
    border-radius: 25px;
    float: right;
}