@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body{
  background-color: #180d2f;
}
h1 {
  font-family: 'Potta One', cursive;
  color: azure;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 19px;
}

nav {
  background-color: #10578a;
  display:flex;
  height:36pt;
  justify-content: left;
  align-items: center;
}

nav>img {
  color: red;
}

nav * {
  display:inline;
  text-decoration: none;
  color:#FFF;
  list-style-type: none;
  margin: 2pt 5pt;
}
#reaching_out{
  text-align: center;
}
#text_page{
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: 150vh;
  background-color: #2890dc;
  padding:10px;
}
#text_page2{
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: 75vh;
  background-color: #2890dc;
  padding:10px;
}
#instalogo{
  width:50px;
  height: 50px;
  padding: 10px;
}
#the_laptop{
  height: 100px;
}
#partner_list{
  background-color: #3d8cc4;
  width: 100vw;
  height: 120vh;
}
#partner_table{
  width: 100%;
}
.internet_provider{
  width:200px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tabletop{
  text-align: center;
  color: #FFF;
}
#partnerz{
  text-align: center;
  color: #FFF;
}
#contacts{
  width: 50vw;
  height: 90vh;
  background-color: #0f1de2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#gmail_logo{
  height: 150px;
  width: 150px;
}
#instatext{
  padding: 30px;
  color: cyan;
}
h3{
  padding: 10px;
  color:rgb(0, 195, 255);
}
#our_partners{
  text-align: center;
}
#future_header{
  text-align: center;
}
#satellite{
  height: 150px;
  width: 250px;
}