@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

h1 {
  font-family: 'Potta One', cursive;
}

p {
  font-family: 'Roboto Slab', serif;
}

nav {
  background-color: #1245F6;
  display:flex;
  height:36pt;
  justify-content: left;
  align-items: center;
}

nav>img {
  color: red;
}

nav * {
  display:inline;
  text-decoration: none;
  color:#FFF;
  list-style-type: none;
  margin: 2pt 5pt;
}
#text_page{
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: 100vh;
  background-color: antiquewhite;
  padding:10px;
}
#break{
  background-color: black;
}
#instalogo{
  width:50px;
  height: 50px;
}